body {
    margin: 0;
    overflow: hidden;
}

.sky {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #001848, #000);
    overflow: hidden;
}

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 5s infinite alternate;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;

    }
    
    50% {
        opacity: 1;
    }
}

.comet {
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white;
    top: -50px;
    left: -50px;
    animation: moveComet 10s linear infinite;
}

@keyframes moveComet {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(100vw, 100vh);
    }
}

.moving-stars {
    position: absolute;
    width: 100%;
    height: 100%;
}

.moving-stars {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px white, 0 0 10px white;
    animation: moveStar 8s linear infinite, twinkle 5s infinite
    alternate;
}

@keyframes moveStar {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(100vh, 100vh)
    }
}

.moon {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px white, 0 0 40px white;
    transition: background 1s;
}

.new-moon {
    background: black;
}

.crescent-moon {
    background: radial-gradient(circle at 25% 25%, white 25%, black 25%);
}

.half-moon {
    background: radial-gradient(circle at 50% 50%, white 50%, black 50%);
}

.gibbous-moon {
    background: radial-gradient(circle at 75% 75%, white 75%, black 75%);
}

.full-moon {
    background-color: white;
}

.form-group {
    margin-bottom: 1.5rem;
}

.rounded-input {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-color: #6B705C;
    border-style: solid;
    width: 78%;
}

.rounded-input:focus {
    border-color: #6B705C;
    background-color: B7B7A4;
}

.login-btn {
    background-color: #B7B7A4;
    border-color: #6B705C;
    color: #6B705C;
    border-radius: 10px;
    height: 2.5rem;
    border-style: solid;
}

.login-btn:hover {
    background-color: #A5A58D;
}

.social-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.social-btn img {
    width: 20px;
    height: 20px;
}

.material-symbols-outlined {
    color: black;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.link-click {
    color: #B7B7A4;
}

.link-click:hover {
    text-decoration: none;
    color: #6B705C;
}

.input-header{
    color: #6B705C;
}